body, html{
    width: 100%;
    height: 100%;  
    font-family: 'Lato', sans-serif;
    background: url(fondo.jpeg) no-repeat center center fixed;
    background-size: cover;
}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.buffer{
    height: 10rem;
}
hr{
    margin: 20px auto;
    color: #F05F44;
    border: 2px solid chocolate;
    max-width: 100px;
    opacity: 1;  
    
}
.btn{
    font-weight: 700;
    border-radius: 200px;
    text-transform: lowercase;
}
.btn-primary{
    background-color: chocolate;
    border-color: chocolate;
}

.btn-primary:hover{
    background-color: brown;
    border-color: brown;
   
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #8f8f88;
}
.btn-xl{
padding: 1rem 2rem  ;
}